/* Add your existing header styles here */

.header {
    background-color: #000000;
    color: white;
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.market-info {
    margin-right: 20px;
    display: inline-flex;
    gap: 10px;
}

.market-price {
    font-size: 15px;
    font-weight: 500;

}

.market-change {
    font-size: 14px;
    color: green;
    display: inline-flex;
    gap: 10px;
}

.market-stats {
    display: flex;
    margin: auto;
    /* margin-top: 1.5em; */
}

.market-cap,
.market-volume {
    margin-right: 20px;
    display: inline-flex;
    color: gray;
    gap: 10px;
}

.value {

    color: white;
}

.corcel-link {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #1F1F1F;
    /* Green */
}

.buy-button {
    color: white;
    background-color: #1F1F1F;
    /* Blue */
    border: none;
    border-radius: 6px;
    padding: 8px 12px;
    margin-right: 10px;
}

.stake-button {
    background-color: #e8dfdf !important;
    color: rgb(32, 31, 31);
    border: none;
    border-radius: 6px;
    padding: 8px 12px;
    margin-right: 10px;
}

.tableSection {
    width: 100%;
}

.buy-button:hover,
.stake-button:hover,
.corcel-link:hover {
    background-color: #D9D9D9;
    /* Darker Green */
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .header-content {
        /* flex-wrap: wrap; */
        flex-direction: column;
        gap: 20px;

    }

    .header {
        font-size: small;
    }

    .header-left {
        flex-wrap: wrap;
    }

    .header-right {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tableSection {
        width: 100%;
        overflow-x: auto;
    }

}

@media screen and (max-width: 533px) {
    .market-stats {
            margin-top: 1.5em;
        }
}