
table {
    border-collapse: collapse;
    width: 100%;
    color: whitesmoke;
    overflow-x: auto !important;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th,
tr {
    border-bottom: 1.6px solid gray;
}
.sectionChanges{
    color: greenyellow;
}
@media screen and (max-width: 500px) {
table{
width: max-content;
}
    th,
    td {
        font-size: small;
    }
}

@media screen and (max-width: 820px) {
    .table {
        width: max-content !important;
    }

    th,
    td {
        font-size: small;
    }
}