.page-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 40px;
}



.parallel-table{
  display: grid;
  grid-template-columns:1fr 1fr;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
width: 100%;
}

.parallel-graphs{
  display: grid;
  grid-template-columns:1fr 1fr;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
width: 100%;
}
.detailsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px 30px;
}
@media screen and (max-width: 1000px) {
  .page-container{
    padding: 0;
  }
  .parallel-table{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
  }
  .parallel-graphs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
  }

    .latest-blocks-table{
      overflow-x: auto;
    }
}



